<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Ohm</key>
  <string>O_hm.glif</string>
  <key>Omegagreek</key>
  <string>O_megagreek.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>VS1</key>
  <string>V_S_1.glif</string>
  <key>VS10</key>
  <string>V_S_10.glif</string>
  <key>VS11</key>
  <string>V_S_11.glif</string>
  <key>VS12</key>
  <string>V_S_12.glif</string>
  <key>VS13</key>
  <string>V_S_13.glif</string>
  <key>VS14</key>
  <string>V_S_14.glif</string>
  <key>VS15</key>
  <string>V_S_15.glif</string>
  <key>VS16</key>
  <string>V_S_16.glif</string>
  <key>VS2</key>
  <string>V_S_2.glif</string>
  <key>VS3</key>
  <string>V_S_3.glif</string>
  <key>VS4</key>
  <string>V_S_4.glif</string>
  <key>VS5</key>
  <string>V_S_5.glif</string>
  <key>VS6</key>
  <string>V_S_6.glif</string>
  <key>VS7</key>
  <string>V_S_7.glif</string>
  <key>VS8</key>
  <string>V_S_8.glif</string>
  <key>VS9</key>
  <string>V_S_9.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>aamatra</key>
  <string>aamatra.glif</string>
  <key>aavowel</key>
  <string>aavowel.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>acutedeva</key>
  <string>acutedeva.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>aimatra</key>
  <string>aimatra.glif</string>
  <key>aimatra_anusvara</key>
  <string>aimatra_anusvara.glif</string>
  <key>aivowel</key>
  <string>aivowel.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>anudatta</key>
  <string>anudatta.glif</string>
  <key>anusvara</key>
  <string>anusvara.glif</string>
  <key>apostrophemod</key>
  <string>apostrophemod.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>aumatra</key>
  <string>aumatra.glif</string>
  <key>auvowel</key>
  <string>auvowel.glif</string>
  <key>avagraha</key>
  <string>avagraha.glif</string>
  <key>avowel</key>
  <string>avowel.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>ba</key>
  <string>ba.glif</string>
  <key>ba.half</key>
  <string>ba.half.glif</string>
  <key>ba.half.vatu</key>
  <string>ba.half.vatu.glif</string>
  <key>ba.vatu</key>
  <string>ba.vatu.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>bha</key>
  <string>bha.glif</string>
  <key>bha.half</key>
  <string>bha.half.glif</string>
  <key>bha.half.vatu</key>
  <string>bha.half.vatu.glif</string>
  <key>bha.vatu</key>
  <string>bha.vatu.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>brackethalfbottomleft</key>
  <string>brackethalfbottomleft.glif</string>
  <key>brackethalfbottomright</key>
  <string>brackethalfbottomright.glif</string>
  <key>brackethalftopleft</key>
  <string>brackethalftopleft.glif</string>
  <key>brackethalftopright</key>
  <string>brackethalftopright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>bulletoperator</key>
  <string>bulletoperator.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>ca</key>
  <string>ca.glif</string>
  <key>ca.half</key>
  <string>ca.half.glif</string>
  <key>ca.half.vatu</key>
  <string>ca.half.vatu.glif</string>
  <key>ca.vatu</key>
  <string>ca.vatu.glif</string>
  <key>candrabindu</key>
  <string>candrabindu.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>caroncomb</key>
  <string>caroncomb.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cedillacomb</key>
  <string>cedillacomb.glif</string>
  <key>ceilingleft</key>
  <string>ceilingleft.glif</string>
  <key>ceilingright</key>
  <string>ceilingright.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>cgj</key>
  <string>cgj.glif</string>
  <key>cha</key>
  <string>cha.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>circumflexcomb</key>
  <string>circumflexcomb.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>colon.latn</key>
  <string>colon.latn.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>comma.latn</key>
  <string>comma.latn.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>cornerbottomleft</key>
  <string>cornerbottomleft.glif</string>
  <key>cornerbottomright</key>
  <string>cornerbottomright.glif</string>
  <key>cornertopleft</key>
  <string>cornertopleft.glif</string>
  <key>cornertopright</key>
  <string>cornertopright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>da</key>
  <string>da.glif</string>
  <key>da.alt</key>
  <string>da.alt.glif</string>
  <key>da.vatu</key>
  <string>da.vatu.glif</string>
  <key>da_virama_da</key>
  <string>da_virama_da.glif</string>
  <key>da_virama_dha</key>
  <string>da_virama_dha.glif</string>
  <key>da_virama_ma</key>
  <string>da_virama_ma.glif</string>
  <key>da_virama_na</key>
  <string>da_virama_na.glif</string>
  <key>da_virama_va</key>
  <string>da_virama_va.glif</string>
  <key>da_virama_ya</key>
  <string>da_virama_ya.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>danda</key>
  <string>danda.glif</string>
  <key>dandadbl</key>
  <string>dandadbl.glif</string>
  <key>dda</key>
  <string>dda.glif</string>
  <key>dda_virama_dda</key>
  <string>dda_virama_dda.glif</string>
  <key>dda_virama_ddha</key>
  <string>dda_virama_ddha.glif</string>
  <key>ddha</key>
  <string>ddha.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dha</key>
  <string>dha.glif</string>
  <key>dha.half</key>
  <string>dha.half.glif</string>
  <key>dha.half.vatu</key>
  <string>dha.half.vatu.glif</string>
  <key>dha.vatu</key>
  <string>dha.vatu.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresiscomb</key>
  <string>dieresiscomb.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>divisionslash</key>
  <string>divisionslash.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dottedcircle</key>
  <string>dottedcircle.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecandramatra</key>
  <string>ecandramatra.glif</string>
  <key>ecandramatra_anusvara</key>
  <string>ecandramatra_anusvara.glif</string>
  <key>ecandravowel</key>
  <string>ecandravowel.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight.latn</key>
  <string>eight.latn.glif</string>
  <key>eightgujr</key>
  <string>eightgujr.glif</string>
  <key>eightsuperior</key>
  <string>eightsuperior.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>ematra</key>
  <string>ematra.glif</string>
  <key>ematra_anusvara</key>
  <string>ematra_anusvara.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emdash.latn</key>
  <string>emdash.latn.glif</string>
  <key>emquad</key>
  <string>emquad.glif</string>
  <key>emspace</key>
  <string>emspace.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>endash.latn</key>
  <string>endash.latn.glif</string>
  <key>enquad</key>
  <string>enquad.glif</string>
  <key>enspace</key>
  <string>enspace.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>euro</key>
  <string>euro.glif</string>
  <key>evowel</key>
  <string>evowel.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclam.latn</key>
  <string>exclam.latn.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>figuredash.latn</key>
  <string>figuredash.latn.glif</string>
  <key>figurespace</key>
  <string>figurespace.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.latn</key>
  <string>five.latn.glif</string>
  <key>fivegujr</key>
  <string>fivegujr.glif</string>
  <key>fivesuperior</key>
  <string>fivesuperior.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>floorleft</key>
  <string>floorleft.glif</string>
  <key>floorright</key>
  <string>floorright.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.latn</key>
  <string>four.latn.glif</string>
  <key>fourgujr</key>
  <string>fourgujr.glif</string>
  <key>fourperemspace</key>
  <string>fourperemspace.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>ga</key>
  <string>ga.glif</string>
  <key>ga.half</key>
  <string>ga.half.glif</string>
  <key>ga.half.vatu</key>
  <string>ga.half.vatu.glif</string>
  <key>ga.vatu</key>
  <string>ga.vatu.glif</string>
  <key>ga_virama_na</key>
  <string>ga_virama_na.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>gha</key>
  <string>gha.glif</string>
  <key>gha.half</key>
  <string>gha.half.glif</string>
  <key>gha.half.vatu</key>
  <string>gha.half.vatu.glif</string>
  <key>gha.vatu</key>
  <string>gha.vatu.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>gravedeva</key>
  <string>gravedeva.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemetleft</key>
  <string>guillemetleft.glif</string>
  <key>guillemetright</key>
  <string>guillemetright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>ha</key>
  <string>ha.glif</string>
  <key>ha.half</key>
  <string>ha.half.glif</string>
  <key>ha.half.alt</key>
  <string>ha.half.alt.glif</string>
  <key>ha.old</key>
  <string>ha.old.glif</string>
  <key>ha.vatu</key>
  <string>ha.vatu.glif</string>
  <key>ha_virama_ma</key>
  <string>ha_virama_ma.glif</string>
  <key>ha_virama_na</key>
  <string>ha_virama_na.glif</string>
  <key>ha_virama_ya</key>
  <string>ha_virama_ya.glif</string>
  <key>ha_virama_ya.alt</key>
  <string>ha_virama_ya.alt.glif</string>
  <key>hairspace</key>
  <string>hairspace.glif</string>
  <key>horizontalbar</key>
  <string>horizontalbar.glif</string>
  <key>horizontalbar.latn</key>
  <string>horizontalbar.latn.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphen.latn</key>
  <string>hyphen.latn.glif</string>
  <key>hyphenationpoint</key>
  <string>hyphenationpoint.glif</string>
  <key>hyphensuperior</key>
  <string>hyphensuperior.glif</string>
  <key>hyphentwo</key>
  <string>hyphentwo.glif</string>
  <key>hyphentwo.latn</key>
  <string>hyphentwo.latn.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>idotless</key>
  <string>idotless.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>iimatra</key>
  <string>iimatra.glif</string>
  <key>iimatra_anusvara</key>
  <string>iimatra_anusvara.glif</string>
  <key>iivowel</key>
  <string>iivowel.glif</string>
  <key>iivowel_anusvara</key>
  <string>iivowel_anusvara.glif</string>
  <key>imatra</key>
  <string>imatra.glif</string>
  <key>imatra.wide</key>
  <string>imatra.wide.glif</string>
  <key>imatra_anusvara</key>
  <string>imatra_anusvara.glif</string>
  <key>imatra_anusvara.wide</key>
  <string>imatra_anusvara.wide.glif</string>
  <key>increment</key>
  <string>increment.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>inr</key>
  <string>inr.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>ivowel</key>
  <string>ivowel.glif</string>
  <key>ivowel_anusvara</key>
  <string>ivowel_anusvara.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>ja</key>
  <string>ja.glif</string>
  <key>ja.half</key>
  <string>ja.half.glif</string>
  <key>ja.vatu</key>
  <string>ja.vatu.glif</string>
  <key>ja_aamatra</key>
  <string>ja_aamatra.glif</string>
  <key>ja_iimatra</key>
  <string>ja_iimatra.glif</string>
  <key>ja_virama_nya</key>
  <string>ja_virama_nya.glif</string>
  <key>ja_virama_nya.half</key>
  <string>ja_virama_nya.half.glif</string>
  <key>jha</key>
  <string>jha.glif</string>
  <key>jha.half</key>
  <string>jha.half.glif</string>
  <key>jha.vatu</key>
  <string>jha.vatu.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>ka</key>
  <string>ka.glif</string>
  <key>ka.half</key>
  <string>ka.half.glif</string>
  <key>ka.vatu</key>
  <string>ka.vatu.glif</string>
  <key>ka_virama_ka</key>
  <string>ka_virama_ka.glif</string>
  <key>ka_virama_ssa</key>
  <string>ka_virama_ssa.glif</string>
  <key>ka_virama_ssa.half</key>
  <string>ka_virama_ssa.half.glif</string>
  <key>kha</key>
  <string>kha.glif</string>
  <key>kha.half</key>
  <string>kha.half.glif</string>
  <key>kha.half.vatu</key>
  <string>kha.half.vatu.glif</string>
  <key>kha.vatu</key>
  <string>kha.vatu.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>la</key>
  <string>la.glif</string>
  <key>la.half</key>
  <string>la.half.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>lineseparator</key>
  <string>lineseparator.glif</string>
  <key>lla</key>
  <string>lla.glif</string>
  <key>lla.half</key>
  <string>lla.half.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>ma</key>
  <string>ma.glif</string>
  <key>ma.half</key>
  <string>ma.half.glif</string>
  <key>ma.half.vatu</key>
  <string>ma.half.vatu.glif</string>
  <key>ma.vatu</key>
  <string>ma.vatu.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>micro</key>
  <string>micro.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>na</key>
  <string>na.glif</string>
  <key>na.half</key>
  <string>na.half.glif</string>
  <key>na.half.vatu</key>
  <string>na.half.vatu.glif</string>
  <key>na.vatu</key>
  <string>na.vatu.glif</string>
  <key>na_virama_na</key>
  <string>na_virama_na.glif</string>
  <key>na_virama_na.half</key>
  <string>na_virama_na.half.glif</string>
  <key>nbhyphen</key>
  <string>nbhyphen.glif</string>
  <key>nbhyphen.latn</key>
  <string>nbhyphen.latn.glif</string>
  <key>nbsp</key>
  <string>nbsp.glif</string>
  <key>nga</key>
  <string>nga.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine.latn</key>
  <string>nine.latn.glif</string>
  <key>ninegujr</key>
  <string>ninegujr.glif</string>
  <key>ninesuperior</key>
  <string>ninesuperior.glif</string>
  <key>nna</key>
  <string>nna.glif</string>
  <key>nna.half</key>
  <string>nna.half.glif</string>
  <key>nna_umatra</key>
  <string>nna_umatra.glif</string>
  <key>nna_uumatra</key>
  <string>nna_uumatra.glif</string>
  <key>nnbsp</key>
  <string>nnbsp.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>nukta</key>
  <string>nukta.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>nya</key>
  <string>nya.glif</string>
  <key>nya.half</key>
  <string>nya.half.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>objectReplacementCharacter</key>
  <string>objectR_eplacementC_haracter.glif</string>
  <key>ocandramatra</key>
  <string>ocandramatra.glif</string>
  <key>ocandravowel</key>
  <string>ocandravowel.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>omatra</key>
  <string>omatra.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.latn</key>
  <string>one.latn.glif</string>
  <key>onegujr</key>
  <string>onegujr.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>openbox</key>
  <string>openbox.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>ovowel</key>
  <string>ovowel.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>pa</key>
  <string>pa.glif</string>
  <key>pa.half</key>
  <string>pa.half.glif</string>
  <key>pa.half.vatu</key>
  <string>pa.half.vatu.glif</string>
  <key>pa.vatu</key>
  <string>pa.vatu.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>paragraphseparator</key>
  <string>paragraphseparator.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenleft.latn</key>
  <string>parenleft.latn.glif</string>
  <key>parenleftsuperior</key>
  <string>parenleftsuperior.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>parenright.latn</key>
  <string>parenright.latn.glif</string>
  <key>parenrightsuperior</key>
  <string>parenrightsuperior.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>period.latn</key>
  <string>period.latn.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pha</key>
  <string>pha.glif</string>
  <key>pha.half</key>
  <string>pha.half.glif</string>
  <key>pha.vatu</key>
  <string>pha.vatu.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>punctuationspace</key>
  <string>punctuationspace.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>question.latn</key>
  <string>question.latn.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblleft.latn</key>
  <string>quotedblleft.latn.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quotedblright.latn</key>
  <string>quotedblright.latn.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteleft.latn</key>
  <string>quoteleft.latn.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quoteright.latn</key>
  <string>quoteright.latn.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>ra</key>
  <string>ra.glif</string>
  <key>ra.alt</key>
  <string>ra.alt.glif</string>
  <key>ra_umatra</key>
  <string>ra_umatra.glif</string>
  <key>ra_uumatra</key>
  <string>ra_uumatra.glif</string>
  <key>ra_uumatra.alt</key>
  <string>ra_uumatra.alt.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>reph</key>
  <string>reph.glif</string>
  <key>reph_aimatra</key>
  <string>reph_aimatra.glif</string>
  <key>reph_aimatra_anusvara</key>
  <string>reph_aimatra_anusvara.glif</string>
  <key>reph_anusvara</key>
  <string>reph_anusvara.glif</string>
  <key>reph_ecandramatra</key>
  <string>reph_ecandramatra.glif</string>
  <key>reph_ecandramatra_anusvara</key>
  <string>reph_ecandramatra_anusvara.glif</string>
  <key>reph_ematra</key>
  <string>reph_ematra.glif</string>
  <key>reph_ematra_anusvara</key>
  <string>reph_ematra_anusvara.glif</string>
  <key>reph_iimatra</key>
  <string>reph_iimatra.glif</string>
  <key>reph_iimatra_anusvara</key>
  <string>reph_iimatra_anusvara.glif</string>
  <key>reph_imatra</key>
  <string>reph_imatra.glif</string>
  <key>reph_imatra.wide</key>
  <string>reph_imatra.wide.glif</string>
  <key>reph_imatra_anusvara</key>
  <string>reph_imatra_anusvara.glif</string>
  <key>reph_imatra_anusvara.wide</key>
  <string>reph_imatra_anusvara.wide.glif</string>
  <key>replacementCharacter</key>
  <string>replacementC_haracter.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>rrvocalicmatra</key>
  <string>rrvocalicmatra.glif</string>
  <key>rrvocalicvowel</key>
  <string>rrvocalicvowel.glif</string>
  <key>rs</key>
  <string>rs.glif</string>
  <key>rvocalicmatra</key>
  <string>rvocalicmatra.glif</string>
  <key>rvocalicmatra.low</key>
  <string>rvocalicmatra.low.glif</string>
  <key>rvocalicvowel</key>
  <string>rvocalicvowel.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sa</key>
  <string>sa.glif</string>
  <key>sa.half</key>
  <string>sa.half.glif</string>
  <key>sa.half.vatu</key>
  <string>sa.half.vatu.glif</string>
  <key>sa.vatu</key>
  <string>sa.vatu.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>semicolon.latn</key>
  <string>semicolon.latn.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven.latn</key>
  <string>seven.latn.glif</string>
  <key>sevengujr</key>
  <string>sevengujr.glif</string>
  <key>sevensuperior</key>
  <string>sevensuperior.glif</string>
  <key>sha</key>
  <string>sha.glif</string>
  <key>sha.half</key>
  <string>sha.half.glif</string>
  <key>sha.half.alt</key>
  <string>sha.half.alt.glif</string>
  <key>sha.half.vatu</key>
  <string>sha.half.vatu.glif</string>
  <key>sha.vatu</key>
  <string>sha.vatu.glif</string>
  <key>sha_virama_va</key>
  <string>sha_virama_va.glif</string>
  <key>sha_virama_va.half</key>
  <string>sha_virama_va.half.glif</string>
  <key>sidebearingleft</key>
  <string>sidebearingleft.glif</string>
  <key>sidebearingright</key>
  <string>sidebearingright.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six.latn</key>
  <string>six.latn.glif</string>
  <key>sixgujr</key>
  <string>sixgujr.glif</string>
  <key>sixperemspace</key>
  <string>sixperemspace.glif</string>
  <key>sixsuperior</key>
  <string>sixsuperior.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>slash.latn</key>
  <string>slash.latn.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>softhyphen.latn</key>
  <string>softhyphen.latn.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>space.latn</key>
  <string>space.latn.glif</string>
  <key>ssa</key>
  <string>ssa.glif</string>
  <key>ssa.half</key>
  <string>ssa.half.glif</string>
  <key>ssa_virama_tta</key>
  <string>ssa_virama_tta.glif</string>
  <key>ssa_virama_tta.alt</key>
  <string>ssa_virama_tta.alt.glif</string>
  <key>ssa_virama_ttha</key>
  <string>ssa_virama_ttha.glif</string>
  <key>ssa_virama_ttha.alt</key>
  <string>ssa_virama_ttha.alt.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>ta</key>
  <string>ta.glif</string>
  <key>ta.half</key>
  <string>ta.half.glif</string>
  <key>ta.half.vatu</key>
  <string>ta.half.vatu.glif</string>
  <key>ta.vatu</key>
  <string>ta.vatu.glif</string>
  <key>ta_virama_na</key>
  <string>ta_virama_na.glif</string>
  <key>ta_virama_ta</key>
  <string>ta_virama_ta.glif</string>
  <key>ta_virama_ta.half</key>
  <string>ta_virama_ta.half.glif</string>
  <key>tha</key>
  <string>tha.glif</string>
  <key>tha.half</key>
  <string>tha.half.glif</string>
  <key>tha.half.vatu</key>
  <string>tha.half.vatu.glif</string>
  <key>tha.vatu</key>
  <string>tha.vatu.glif</string>
  <key>thinspace</key>
  <string>thinspace.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.latn</key>
  <string>three.latn.glif</string>
  <key>threegujr</key>
  <string>threegujr.glif</string>
  <key>threeperemspace</key>
  <string>threeperemspace.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>tta</key>
  <string>tta.glif</string>
  <key>tta_virama_tta</key>
  <string>tta_virama_tta.glif</string>
  <key>tta_virama_ttha</key>
  <string>tta_virama_ttha.glif</string>
  <key>ttha</key>
  <string>ttha.glif</string>
  <key>ttha_virama_ttha</key>
  <string>ttha_virama_ttha.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two.latn</key>
  <string>two.latn.glif</string>
  <key>twogujr</key>
  <string>twogujr.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udatta</key>
  <string>udatta.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>umatra</key>
  <string>umatra.glif</string>
  <key>umatra.dup</key>
  <string>umatra.dup.glif</string>
  <key>umatra.low</key>
  <string>umatra.low.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uumatra</key>
  <string>uumatra.glif</string>
  <key>uumatra.dup</key>
  <string>uumatra.dup.glif</string>
  <key>uumatra.low</key>
  <string>uumatra.low.glif</string>
  <key>uuvowel</key>
  <string>uuvowel.glif</string>
  <key>uuvowel_anusvara</key>
  <string>uuvowel_anusvara.glif</string>
  <key>uvowel</key>
  <string>uvowel.glif</string>
  <key>uvowel_anusvara</key>
  <string>uvowel_anusvara.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>va</key>
  <string>va.glif</string>
  <key>va.half</key>
  <string>va.half.glif</string>
  <key>va.half.vatu</key>
  <string>va.half.vatu.glif</string>
  <key>va.vatu</key>
  <string>va.vatu.glif</string>
  <key>vattu</key>
  <string>vattu.glif</string>
  <key>vattu.rphf</key>
  <string>vattu.rphf.glif</string>
  <key>vattu_umatra</key>
  <string>vattu_umatra.glif</string>
  <key>vattu_uumatra</key>
  <string>vattu_uumatra.glif</string>
  <key>vedicsignjihvamuliya</key>
  <string>vedicsignjihvamuliya.glif</string>
  <key>vedictonedotbelow</key>
  <string>vedictonedotbelow.glif</string>
  <key>vedictonedoublesvarita</key>
  <string>vedictonedoublesvarita.glif</string>
  <key>vedictonekathakaanudatta</key>
  <string>vedictonekathakaanudatta.glif</string>
  <key>vedictonethreedotsbelow</key>
  <string>vedictonethreedotsbelow.glif</string>
  <key>vedictonetwodotsbelow</key>
  <string>vedictonetwodotsbelow.glif</string>
  <key>virama</key>
  <string>virama.glif</string>
  <key>visarga</key>
  <string>visarga.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wj</key>
  <string>wj.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>ya</key>
  <string>ya.glif</string>
  <key>ya.half</key>
  <string>ya.half.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.latn</key>
  <string>zero.latn.glif</string>
  <key>zerogujr</key>
  <string>zerogujr.glif</string>
  <key>zerosuperior</key>
  <string>zerosuperior.glif</string>
  <key>zwj</key>
  <string>zwj.glif</string>
  <key>zwnbsp</key>
  <string>zwnbsp.glif</string>
  <key>zwnj</key>
  <string>zwnj.glif</string>
  <key>zwsp</key>
  <string>zwsp.glif</string>
</dict>
</plist>
